<!DOCTYPE html>
<html lang="en">
<head>


	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">


	<title> Digital advertising  - a variety of advertising and marketing solutions on haaretz.com website</title>
	<meta name="title" content="Digital advertising  - a variety of advertising and marketing solutions on haaretz.com website">
	<meta name="description" content='We offer a variety of advanced online advertising tools and digital marketing solutions on Haaretz.com website such as :  desktop and mobile banners ,
content marketing, native advertising  , email Blasts , newsletters , programmatic advertising via direct media buying and programmatic media buying .
'>
	<link rel="canonical" href="haaretzCom.html"/>
	<meta property="og:title" content="Digital advertising  - a variety of advertising and marketing solutions on haaretz.com website"/>
	<meta property="og:type" content="Article"/>
	<meta property="og:url" content="//www.haaretz.com/st/c/prod/global/mediaKit/haaretzCom.html"/>
	<meta property="og:image" content="//www.haaretz.com/st/c/static/global/media/haaretzCom/tapet.png">
	<meta property="og:description" content='We offer a variety of advanced online advertising tools and digital marketing solutions on Haaretz.com website such as :  desktop and mobile banners ,
content marketing, native advertising  , email Blasts , newsletters , programmatic advertising via direct media buying and programmatic media buying .
'>
	<meta property="fb:app_id" content="287530407927859">


    <link rel="stylesheet" type="text/css" href="stylesheets/styles.css@ver1.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/com.css">
    <!-- /build -->

    <!-- build:template
    <link rel="stylesheet" type="text/css" href="<%= prodUrl %>stylesheets/<%= name %>-styles.min.css">
     /build -->
	<noscript>
		<img src="https://amplifypixel.outbrain.com/pixel?mid=004560e91dfb180af0ae56237c73f87ef5">
	</noscript>
</head>
<body>
<div id="height"></div>
 <div class="inter-mc w-check x eng-cont">
	<div class="header">

		<div id="nav">
		    <div class="site-box-button heb" data-site="heb">
			    <a href="https://www.haaretz.co.il/st/c/prod/global/mediaKit/haaretzHeb.html">
				<div class="icon"><button class="heb">H</button></div>
				<div id ="heb" class="text-button">Haaretz.co.il</div>
				    </a>
			</div>
			<div class="site-box-button mar" data-site="mar">
				<a href="https://www.themarker.com/st/c/prod/global/mediaKit/themarker.html">
				<div class="icon"><button class="mar">M</button></div>
				<div id="mar" class="text-button">TheMarker</div>
					</a>
			</div>
			<div class="site-box-button eng active" data-site="eng">
				<a href="haaretzCom.html">
								<div class="icon"><button class="eng" >H</button></div>
				<div id="eng" class="text-button">Haaretz.com</div>
			</div>
			<div class="site-box-button fin" data-site="fin">
				<a href="https://www.themarker.com/st/c/prod/global/mediaKit/finance.html">
				<div class="icon"><button class="fin">f</button></div>
				<div id="fin" class="text-button">Finance</div>
					</a>
			</div>

			<div id="contactclick" class="site-box-button" data-site="con">
				<div id="contactE" class="text-button">Contact Us</div>

				<!--<div><a id="contact" href="#">צור קשר</a></div>-->
		</div>

	</div>
</div>



	<!------   form  Eng ------------->

	<div id="contactUsEng">

		<div id="contact-text-eng">
			<div class="textContuctTitle-eng">What is the best way to reach and influence Haaretz and TheMarker's readers?</div>
			<div class="textContuctSubTitle-eng">That's why we need to talk!</div>

			<div class="textContuctDetails-eng">Please leave your contact details and one of our representatives shall contact you with the best solutions we can provide.</div>

<iframe src="https://l-p.site/clientpages/10122023131924sa6045.html" frameborder="0" style="overflow: auto;" width="100%" height="396"></iframe>
		</div>
		
		<div id="contact-img-eng">
			<img src="https://www.haaretz.co.il/st/c/prod/global/media/img/bundle-english.png">
		</div>

	</div>

	<!---  End Form Eng --------------->
    <div id="media-cont">
	    <div id="presentation">
		    <div class="inter-videoContainer-HDTV fakeyoutubebg">
			    <div class="inter-video-mask" id="tVTj5YBzW5Q" data-ytparam="{playlist:tVTj5YBzW5Q,controls:1,autoplay:0,wmode:transparent,loop:1,modestbranding:1,rel:0,showinfo:0}"></div>
		    </div>
	 </div>
	    <!--<div id="presentation">-->
		    <!--<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='//www.youtube.com/embed/dyx3DbDjLas?rel=0?version=3&autoplay=0&controls=0&&showinfo=0&loop=1' style='border:0'></iframe></div>-->
	    <!--</div>-->


	    <div id="menu">
     	     <div id="products">

	        </div>



		   <div class="option-box">

		   </div>
	</div>

	    <div id="content">
			    <div class="text-content">
				     <div class="prod-title-eng"></div>
				     <div class="prod-details">
					     <div class="details"></div>
					     <!--<div class="divSize"><span>גודל:</span><span class="size"></span></div>
					     <div class="close"><a id="closeUrl" href="#">הוראות סגירה</a></div>-->
					     <div class="divSize"></div>
					     <div class="close"></div>

				     </div>


			    </div>


	           <div class="img-content">
		           <img src="haaretzCom.html">
	           </div>

	  	</div>
	    <p style="clear: both;"></p>
 </div>



	<div id="footer" style="display:none!important;">
	  <div id="buttons-bottom">
		  <a href="https://www.haaretz.co.il/"><div class="icons"><button class="heb">H</button></div></a>
		  <a href="https://www.themarker.com/"><div class="icons"><button class="mar">M</button></div></a>
		  <a href="https://finance.themarker.com/"><div class="icons"><button class="eng">f</button></div></a>
		  <a href="../../../../../index.html"><div class="icons"><button class="fin">H</button></div></a>
	   </div>
   </div>
</div>


	<script src="../../../static/resources/js/jquery/jquery-2.1.4.min.js"></script>



	<!--<script src="//www.haaretz.com/st/c/work/bundle/4/3/inter-bundle.js"></script>-->
<script src="js/inter-bundle-https.js"></script>

<script src="../../../work/igor/2016/12/timeLineDemokratia/js/isMobile.min.js"></script>

	<!-- build:remove -->

<script>
	/*var menuHeight;
	var subMenuHeight;
	var opt_index;
	var clicked;
	var strOption = "";
	var contentStatus = false;*/

	/*--------------------------------------------------------------*/
	//  Change the site buttons on Header
	/*--------------------------------------------------------------*/

 

	/*--------------------------------------------------------------*/
	//  Show the submenu of the checking menu and hide the youtube
	/*--------------------------------------------------------------*/




	/*$(document).on("mouseover", ".product-box", function(e) {

		var box_index = $(this).index();
		 if(box_index == 0) {
			$(".option-box").css("visibility", "hidden");
            return;
		 }
		  else
		 {
			$("#presentation").fadeOut(500);
			$(".option-box").css("visibility", "visible");
		 }


		if (box_index == 1)
		{
			strOption = "<div data-options='0' class='text-option'>באנר עליון HP</div>" +
					"<div data-options='1' class='text-option'>מגה מגדל</div>" +
					"<div data-options='2' class='text-option'>מגה מגדל</div>" +
					"<div data-options='3' class='text-option'>מגה מגדל</div>" +
					"<div data-options='4' class='text-option'>מגה מגדל</div>" +
					"<div data-options='5' class='text-option'>מגה מגדל</div>";

			$(".option-box").html(strOption);
			$("#presentation").fadeOut(500);
			$(".option-box").css("visibility", "visible");

		}

		if (box_index == 6)
		{
			strOption = "<div class='text-option'>באנר עליון HP</div>" +
					"<div class='text-option'>באנר עליון פנימי</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>" +
					"<div class='text-option'>מגה מגדל</div>";

			$(".option-box").html(strOption);
			$("#presentation").fadeOut(500);
			$(".option-box").css("visibility", "visible");
		}
	});*/

	/*$(document).on("mouseout", ".product-box", function(e) {

	$(".option-box").css("height", "");

	});*/

	/*function cheackMenuHeight(_subMenuHeight) {
		menuHeight = $("#products").height();
				$("#height").html("Submenu: " + _subMenuHeight + "menu: " + menuHeight );

     		if (_subMenuHeight < menuHeight) {
	       		$(".option-box").css("height", menuHeight);
            }
	}*/

	/*--------------------------------------------------------------*/
	//
	/*--------------------------------------------------------------*/
	//  $(".text-option").click(function () {
	/*  $(document).click(".text-option" ,function (e) {

		  event.stopPropagation();
		  var opt_index =  $(e.target).attr('data-options');
		 $(".text-option").removeClass('intro');
		 $(e.target).addClass('intro');

		  if (!contentStatus) {
			  $("#media-cont #content").fadeIn(500).css("display", "block");
			  contentStatus = true; }

		  if (opt_index == 0)
		  {
			  $(".prod-title").html("באנר עליון");
			  $(".prod-details .details").html("מופיע למעלה בצידו הימני של האתר,  באנר שמאלי,  מופיע מתחת לתמונה");
			  $(".prod-details .size").html("456*64478");

			  $(".img-content img").attr("src", "img/bimg3.jpg");
		  }
  else if		   (opt_index == 2)
		  {   $(".prod-title").html("מגה מגדל");
			  $(".prod-details .details").html("  מופיעה בכניסה לאתר ובמעבר בין ערוצים, עולה 1 ליוניק ביום,  יורד אוטומטית לאחר 7 שניות");
			  $(".prod-details .size").html("368*368");
			  $(".img-content img").attr("src", "img/bimg.jpg");
		  }
});*/


</script>
<script src="js/inter_youtube.js"></script>
<script src="js/mainE.js@ver1"></script>

<!-- /build -->
<!-- build:template
<script src="<%= prodUrl %>js/<%= name %>-main.min.js"></script>
 /build -->

<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: //google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 955121318;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/955121318/?guid=ON&amp;script=0"/>
	</div>
</noscript>



<!-- Google Code for Remarketing Tag -->
<!--------------------------------------------------
Remarketing tags may not be associated with personally identifiable information or placed on pages related to sensitive categories. See more information and instructions on how to setup the tag on: //google.com/ads/remarketingsetup
--------------------------------------------------->
<script type="text/javascript">
	/* <![CDATA[ */
	var google_conversion_id = 955543703;
	var google_custom_params = window.google_tag_params;
	var google_remarketing_only = true;
	/* ]]> */
</script>
<script type="text/javascript" src="https://www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
	<div style="display:inline;">
		<img height="1" width="1" style="border-style:none;" alt="" src="https://googleads.g.doubleclick.net/pagead/viewthroughconversion/955543703/?guid=ON&amp;script=0"/>
	</div>
</noscript>



<script type='text/javascript'>
	var axel = Math.random() + '';
	var a = axel * 10000000000000;
	document.write('<img src="https://pubads.g.doubleclick.net/activity;dc_iu=/9401/DFPAudiencePixel;ord=' + a + ';dc_seg=458484920?" width=1 height=1 border=0/>');
</script>
<noscript>
	<img src="https://pubads.g.doubleclick.net/activity;dc_iu=/9401/DFPAudiencePixel;ord=1;dc_seg=458484920?" width=1 height=1 border=0/>
</noscript>



<script type="text/javascript">
	window._tfa = window._tfa || [];
	_tfa.push({ notify: 'mark',type: 'visited_media_kit' });
</script>
<script src="https://cdn.taboola.com/libtrc/haaretz-general-sc/tfa.js"></script>





<!-- Facebook Pixel Code -->
<script>
	!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
			n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
		n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
			document,'script','https://connect.facebook.net/en_US/fbevents.js');
	fbq('init', '1877920685825754'); // Insert your pixel ID here.
	fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
               src="https://www.facebook.com/tr?id=1877920685825754&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->

<!-- Analytics Tag Start -->
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
				(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-589309-2', 'auto');
	ga('send', 'pageview');

</script>
<!-- Analytics Tag End -->


</body>
</html>